<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938569101899-5vn7m4jbue3dimvrojernmnm87scp8mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938569101899-5vn7m4jbue3dimvrojernmnm87scp8mc</string>
	<key>API_KEY</key>
	<string>AIzaSyAbnDJWfvSy8NntfHRYMRiDbQnIgP9UaKU</string>
	<key>GCM_SENDER_ID</key>
	<string>938569101899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cobugi.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-ade32</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-ade32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938569101899:ios:9ab36b4f7f861f29c0d3ce</string>
</dict>
</plist>